
heading {
    text-align: center;
    margin: 20px;
    }
    
    container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #keywords {
        padding: 10px;
        margin: 20px;
    }

